.container{
    width: 500px;
   /* margin: 100px;*/
    margin-top: 200px;
    margin-left: 700px;
}
.margen{
    margin: 200px;
}

.chart-container {
    width: 50%;
    height: 50%;
    margin: auto;
  }